2019-05-06-action11: create PR for bespoke previews in WP (Garth Conboy)

create PR for bespoke previews in WP (Garth Conboy) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action11))

Cc: @GarthConboy

As indicated in the [Google Slides](https://docs.google.com/presentation/d/1NFBFWcDmLuF1VrEtMC7v9Z7JVOYrUWg6pi5eOmLFJ5U/edit), this can easily be handled using a link:

- a "bespoke preview/sample" is not part of a publication, therefore it would be handled in `links`
- we might want to look into re-using `preview` as a rel to identify them and if it's too much of a stretch we can either register a new value (`sample`) or use a URI if we don't want this to get registered at IANA

IMO, the other part of the slide could also benefit from opening an issue. While indicating how to calculate a sample might be a little too specialized, I think it makes perfect sense to have the ability to indicate where the interesting bits of a publication start.
This is used by major players in the EPUB ecosystem to open a publication where it matters to the end user and would already vastly improve how these samples are generated.

No progress yet -- but thinking about it.  The guilt may be working.

Brady and I are thinking about:

```{
"@context"   : ["https://schema.org","https://www.w3.org/ns/wp-context"],
"type"       : "Book",
…
"url"        : "https://publisher.example.org/mobydick",
"name"       : "Moby Dick",
"links"  : [{
	"type"            : "LinkedResource",
	"url"             : "preview.mp3",
	"encodingFormat"  : "audio/mpeg",
	"rel"             : "preview"
},{
	…
}],
…
}
```

Per RFC 1603 section 3 ("preview") this seems exactly what we want -- for samples of either "real" WPs or the audiobook "profile" -- can be local or remote, markup or audio, etc. etc.

Resolved with: https://github.com/w3c/wpub/pull/457#pullrequestreview-248265248